<div class="accordion js-accordion">

    <div class="accordion__item">
      <button type="button" class="accordion__item-button js-accordion-trigger">General</button>
      <div class="accordion__item-info">
        <div class="accordion__item-info-content js-accordion-content">
          <div class="u-d-flex"> 
           <p> Frame Type</p>  <strong> High Step with Semi-integrated battery</strong>
          </div>
        <div class="u-d-flex"> 
          <p>Frame material</p>  <strong>Aluminum</strong>
        </div>
        <div class="u-d-flex"> 
          <p> Fork Details</p>  <strong>Suspension Fork with Lockout</strong>
        </div>
        <div class="u-d-flex"> 
          <p>Attachment Points</p>  <strong>Rear Rack, Bottle Cage Mount, Fender Mounts, Front Carrier, Derailleur Guard Mounts</strong>
        </div>
        <div class="u-d-flex"> 
          <p>Fork Details</p>  <strong>Suspension Fork with Lockout</strong>
        </div>
        </div>
    </div>
    </div>
    <div class="accordion__item">
      <button type="button" class="accordion__item-button js-accordion-trigger">Battery & Motor</button>
      <div class="accordion__item-info js-accordion-content">
        <p>content test</p>
      </div>
    </div>
    <div class="accordion__item">
      <button type="button" class="accordion__item-button js-accordion-trigger">Battery & Motor</button>
      <div class="accordion__item-info js-accordion-content">
        <p>content test</p>
      </div>
    </div>
    <div class="accordion__item">
      <button type="button" class="accordion__item-button js-accordion-trigger">Other</button>
      <div class="accordion__item-info js-accordion-content">
        <p>content test</p>
      </div>
    </div>
    <div class="accordion__item">
      <button type="button" class="accordion__item-button js-accordion-trigger">Measurment Sheet</button>
      <div class="accordion__item-info js-accordion-content">
        <p>content test</p>
      </div>
    </div>
</div>

