<div class="announcment-bar">
    <ul>
        <li>
            <a href=""> <span class="line-link line-link--grow">Become a Dealer</span></a>
        </li>
         <li>
            <a href=""> <span class="line-link line-link--grow">Financing</span></a>
        </li>
         <li>
            <a href=""> <span class="line-link line-link--grow">Register Warranty</span></a>
        </li>
         <li>
             <a href="">
                {% render 'icon', icon: 'location' %}
                 <span class="line-link line-link--grow">Where to Try</span></a>
        </li>
    </ul>
</div>