<div class="collection-card">
  <div class="collection-card__inner">
    <div class="collection-card__content">
      <ul class="collection-card__tags">
        <li>SALE</li>
        <li>NEW</li>
      </ul>
      <h2>Premium II High Step</h2>
        <ul class="choose-color">
        <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-1',
                  checked: 'checked'

                %}
        </li>
        <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-2'
                %}
        </li>
         <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-3'
                %}
        </li>
         <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-4'
                %}
        </li>
         <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-5'
                %}
        </li>
         <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-6'
                %}
        </li>
          <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-7'
                %}
        </li>
         <li>
            {% render 'radio-checkbox',
                  text: ' ',
                  name: 'color',
                  id: 'color-8'
                %}
        </li>
       </ul>
       <div class="collection-card__cta">
         <a href="" class="btn btn--fill-grey">
           VIEW DETAILS
         </a>
         <a href="" class="u-uppercase">
           Compare
           {% render 'icon', icon: 'arrow-up-right' %}
          </a>
       </div>
    </div>
    <div class="collection-card__image">
      <div class="media-wrapper">
          <img src="https://via.placeholder.com/604x423.jpg?text=Pleaceholder" loading="lazy" width="" height=""/>
          <div class="collection-card__grid-cta">
            <a href="" class="btn btn--black-fill">VIEW DETAILS </a>
            <a href="" class="btn btn--blue-fill">Compare</a>
          </div>
      </div>
    </div>
  </div>
</div>
