<div class="mm-item-card">
  <div class="mm-item-card__content">
    <div class="mm-item-card__image">
      <img src="https://i.ibb.co/PCMJFdz/Magnum-Ranger-Electric-Bike-Black-1.jpg" loading="lazy" width="" height="" alt="">
      <div class="mm-item-card__cta">
        <a class="btn btn--black-fill" href="#"> DOWNLOAD MANUAL</a>
        <a class="btn btn--blue-fill" href="#">View Assembly Video</a>
      </div>
    </div>
    <div class="mm-item-card__text">
      <h4 class="h4">Premium II High Step </h4>
    </div>
</div>
</div>
