<div class="pagination">
  <div class="pagination__inner">
    <a class="paginaton__arrow-prev" href="#">
      <span> {% render 'icon', icon: 'arrow-left' %} </span>
    </a>
    <ul class="pagination__list">
      <li>
        <a class="active" href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
    </ul>
    <a class="paginaton__arrow-next" href="#">
      <span>{% render 'icon', icon: 'arrow-right' %} </a> </span>
  </div>
</div>
