.accordion {
  margin: rem(15) 0 0;

  &__item {
    position: relative;

    button {
      padding: rem(29) 0;
      z-index: 1;
    }

    &:last-child {
      border-bottom: rem(1) solid $grey-light;
    }

    button,
    p {
      font-size: rem(24);
      line-height: rem(56);
      font-weight: 700;
      transition: all 0.5s ease;

      @include media-breakpoint-up(xl) {
        font-size: rem(24);
        line-height: rem(56);
        line-height: line-height(18, 22);
      }
    }

    &-info {
      overflow: hidden;
      pointer-events: none;
      max-height: 0;
      transition: all 0.2s ease;
      opacity: 0;

      &.active {
        opacity: 1;
        pointer-events: auto;
        margin-top: rem(-33);
        margin-bottom: rem(30);
      }
    }
  }

  &__item-button {
    position: relative;
    padding-right: rem(15);
    width: 100%;
    text-align: left;
    border-top: rem(1) solid $grey-light;

    @include media-breakpoint-up(md) {
      padding-right: 0;
    }

    @include media-breakpoint-up(xl) {
      padding: rem(25) 0;
    }

    &.active {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.45 8.187h15.557' stroke='%2326BBEE' stroke-width='2'/%3E%3C/svg%3E");
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: 150ms all ease-out;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.45 8.187h15.557M8.229 8.188V.409M8.229 15.965v-4.667' stroke='%2326BBEE' stroke-width='2'/%3E%3C/svg%3E");
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      background-color: rgba(#c4ced2, 0.15);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__item-info-content {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    > .u-d-flex {
      max-width: rem(500);
      width: 100%;
      margin: 0 auto;

      &:not(:last-child) {
        padding-bottom: rem(7);
      }

      p {
        font-size: rem(15);
        line-height: rem(25);
        color: $grey-light;
        width: 30%;
        text-align: right;
        font-weight: 400;
      }

      strong {
        font-weight: 700;
        font-size: rem(15);
        line-height: rem(25);
        padding-left: rem(20);

        width: 70%;
      }
    }
  }

  &--top-question {
    .accordion__item-button {
      border-top: 2px solid $divider-grey;
      font-size: rem(22);
      line-height: rem(32);
      padding-left: rem(70);

      &::after {
        right: auto;
        left: 0;
      }

      span {
        max-width: rem(596);
        width: 100%;
        display: inline-block;
        pointer-events: none;
      }
    }
    .accordion__item-info {
      min-width: calc(100% + #{rem(10)});
      padding-left: rem(70);
      &.active {
        margin-top: rem(-20);
      }
    }
    .accordion__item-info-content {
      p {
        max-width: rem(534);
        font-size: rem(16);
        line-height: rem(28);
        color: #656565;
        text-align: left;
        font-weight: 400;
      }
      ul {
        li {
          font-size: rem(16);
          line-height: rem(28);
          color: $grey-light;

          &:not(:last-child) {
            padding-bottom: rem(5);
          }
          a {
            color: $body-color;
            font-size: rem(16);
            line-height: rem(28);
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
