.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: rem(450);

  &__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    align-items: center;
    border-radius: 5px;
    padding: 0 20px;
    justify-content: space-between;
  }

  &__btn {
    font-size: rem(18);
    line-height: rem(28);
    padding-left: rem(16);
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    color: $grey-light;
    transition: all 0.3s ease-in-out;
    position: relative;

    &::after {
      content: '';
      width: calc(100% + 8px);
      left: 0;
      height: 1px;
      background-color: $grey-light;
      position: absolute;
      bottom: rem(-17);
    }

    .icon {
      margin-right: rem(11);
    }

    &.active {
      color: #fff;

      &::after {
        height: 3px;
        background-color: $cyan;
        z-index: 1;
      }
    }
  }

  &__content {
    padding-top: rem(74);
  }

  &__item-content {
    color: #262626;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    height: auto;
    overflow: hidden;
    display: none;

    &.active {
      opacity: 1;
      height: auto;
      display: flex;
    }
  }

  &__item-col {
    width: 50%;
  }

  &__item-col-content {
    padding-left: rem(138);

    .h3 {
      font-size: rem(24);
      line-height: rem(34);
      padding-bottom: rem(12);
      color: $white;
      max-width: rem(287);
      width: 100%;
      margin-top: rem(-7);
    }

    p {
      font-size: rem(15);
      line-height: rem(25);
      color: $white;
      max-width: rem(328);
      width: 100%;
    }
  }
}
