.pagination {
  padding: rem(60) rem(20);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: rem(264);
    margin: 0 auto;
    width: 100%;
  }
  &__list {
    display: flex;
    li {
      &:not(:last-child) {
        margin-right: rem(12);
      }
      a {
        width: rem(60);
        height: rem(60);
        border: 1px solid $grey-light;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(14);
        font-weight: 500;
        color: $magnum-black;

        &.active {
          background-color: $cyan;
          color: $white;
          border-color: $cyan;
        }
      }
    }
  }
}
