<div class="battery-section battery-section--reverse">
    <div class="battery-section__inner">
        <div class="battery-section__image">
            <div class="media-wrapper">
                <img src="../assets/battery-img2.jpg" alt="" loading="lazy" width="" height="">
            </div>
        </div>
        <div class="battery-section__text">
            <div class="battery-section__text-wrapper">
                <div class="battery-section__text-top">
                    <h2 class="h2">FEEL THE POWER.</h2>
                    <h5 class="h5">750W Bafang Motor</h5>
                    <p>Peaks at 1000 watts, with 6 modes of pedal assist, for speeds of up to 28 mph. Let’s also have copy about “How does it feel”? </p>
                </div>
                <a class="battery-section__link" href="#"> {% render 'icon', icon: 'warning-2' %} How does this affect my ride?</a>
            </div>
        </div>
    </div>
</div>
