<div class="battery-section">
        <div class="battery-section__inner">
            <div class="battery-section__image">
                <div class="media-wrapper">
                    <img src="../assets/battery-img1.jpg" alt="" loading="lazy" width="" height="">
                </div>
            </div>
            <div class="battery-section__text">
                <div class="battery-section__text-wrapper">
                    <div class="battery-section__text-top">
                        <h2 class="h2">THE BATTERY.</h2>
                        <p>Text explaining why it is important to have a branded battery cells. Text explaining why it is important to have a branded battery cells. Text explaining why it is important to have a branded battery cells. </p>
                    </div>
                    <div class="battery-section__text-bottom">
                        <div class="battery-section__text-content">
                            <h4 class="h4"> 17.5 Ah</h4>
                            <p> <span>25 - 30  </span> Miles</p>
                            <p> <span> 8.5 Hours</span> Charge Time</p>
                        </div>
                        <div class="battery-section__text-content">
                            <h4 class="h4"> 19.5 Ah</h4>
                            <p> <span>25 - 30 </span> Miles</p>
                            <p> <span> 8.5 Hours</span> Charge Time</p>
                        </div>
                    </div>
                    <a class="battery-section__link" href="#"> {% render 'icon', icon: 'warning-2' %} How is range calculated?</a>

                </div>
            </div>
        </div>
</div>
