<section class="carousel-slider js-carousel-slider-mouse-follow">
  <div class="carousel-slider__inner">
    <div class="swiper-container js-carousel-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="carousel-slider__item">
            <img src="../assets/carousel-slider-img.jpg" loading="lazy" width="" height="" alt="">
            <div class="carousel-slider__text">
              <strong>Large Display with Backlight </strong>
              <p>The cockpit features an all new large display that puts the controls for the bike at the riders
                fingertips, with a backlight for clear <span>visibility during night rides</span>. </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="carousel-slider__item">
            <img src="../assets/carousel-slider-img.jpg" loading="lazy" width="" height="" alt="">
            <div class="carousel-slider__text">
              <strong>Hydraulic Breaks </strong>
              <p>Front and rear dual-piston hydraulic brakes with adjustable reach.</span>. </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="carousel-slider__item">
            <img src="../assets/carousel-slider-img.jpg" loading="lazy" width="" height="" alt="">
            <div class="carousel-slider__text">
              <strong>Adjustable Fork</strong>
              <p>Adjustable preload suspension fork to accommodate a wide range of preference body weight, including
                optional lock-out for pavement riding. </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="carousel-slider__item">
            <img src="../assets/carousel-slider-img.jpg" loading="lazy" width="" height="" alt="">
            <div class="carousel-slider__text">
              <strong>Large Display with Backlight </strong>
              <p>The cockpit features an all new large display that puts the controls for the bike at the riders
                fingertips, with a backlight for clear <span>visibility during night rides</span>. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar carousel-slider__scrollbar js-carousel-scrollbar"></div>
    </div>
    <div class="cursor js-cursor">
        {% render 'icon', icon: 'icon-cursor' %}

    </div>
  </div>
</section>

