<section class="cg-hero" style="background-image: url('https://i.ibb.co/Rj7CrfB/Frame-11332.jpg'); background-position: center">
    <div class="container container--small">
    <h1 class="h1 cg-hero__title">
        The Line Up
    </h1>
</div>
</section>
