<section class="collection-hero" style="background: url('https://via.placeholder.com/1366x610') no-repeat; background-size:cover;background-position:center center;">
        <div class="container container--middle">
            <div class="collection-hero__inner">
            <div class="collection-hero__col-left">
                {% render 'icon', icon: 'logo-white' %}
                <h1>Cruisers</h1>
                <p>Magnum Cruisers are designed with a more relaxed bike geometry, lowering the rider's center of gravity. Because the rider is sitting slightly leaning back, closer to the ground with pedals out-front, the rider experiences a "relaxing" riding position. </p>
            </div>
            <div class="collection-hero__col-right">
                <ul class="collection-hero__star-list">
                  <li>
                    {% render 'icon', icon: '4star' %}
                      Perfect for leisurely rides and running errands.
                  </li>
                   <li>
                    {% render 'icon', icon: '4star' %}
                      Beautifully-designed and best-in-class beach cruisers.
                  </li>
                   <li>
                    {% render 'icon', icon: '4star' %}
                      Ergonomic geometry for a wide range of heights and body sizes.
                  </li>
                </ul>
            </div>
    </div>
        </div>
  </section>
