<div class="component-overview">
    <div class="container container--small">
        <div class="component-overview__title">
            <h2 class="h2">Component Overview </h2>
        </div>
        {% render 'accordion' %}
    </div>
</div>
