<div class="cta-section">
        <div class="cta-section__inner">
            <div class="cta-section__col-left">
                <div class="cta-section__item">
                    {% render 'icon', icon: 'box' %}
                    <div class="cta-section__item-text">
                        <span>Call Us</span>
                        <a href="#">111 - 555 - 678</a>
                    </div>
                </div>
                <div class="cta-section__item">
                    {% render 'icon', icon: 'box' %}
                    <div class="cta-section__item-text">
                        <span>Chat With Us</span>
                        <a href="#">Start Live Chat</a>
                    </div>
                </div>
                <div class="cta-section__item">
                    {% render 'icon', icon: 'box' %}
                    <div class="cta-section__item-text">
                        <span>Contact Form</span>
                        <a href="#">We’ll Get Back to You</a>
                    </div>
                </div>
            </div>
            <div class="cta-section__col-right">
                <p>Looking for the perfect ride?  </p>
                <p> We’re here to help.</p>
            </div>
        </div>
</div>