<section class="cta">
    <div class="cta__inner">
        <div class="cta__col-left">
            <div class="cta__item">
                <img class="cta__image" src="https://via.placeholder.com/50x50" alt="" loading="lazy" width="" height="">
                <a href="#"> Call Us</a>
                <a href="#"> Live Chat</a>

            </div>
            <div class="cta__item">
               <p>Magnum Premium II High Step <span>19.2 Ah </span> <span>Black </span> </p>
            </div>
        </div>
        <div class="cta__col-right">
            <div class="cta__item">
            <ul>
                <li>
                    <a href="#">Is the size right for me? {% render 'icon', icon: 'arrow-up-right' %} </a>
                </li>
                <li>
                    <a href="#">compare {% render 'icon', icon: 'arrow-up-right' %} </a>
                </li>
            </ul>
        </div>
        <div class="col__item">

            <a href="#" class="btn btn--blue-fill">ADD TO CART</a>
        </div>
    </ul>

    </div>
</section>
