<section class="e-bikes-info">
  <div class="e-bikes-info__inner">
    <div class="e-bikes-info__text">
      <div class="e-bikes-info__text-content">
        <h2 class="h2">E-Bikes 101</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn btn--fill-grey" href="#">Go To Knowledge Library</a>
      </div>
    </div>
    <div class="e-bikes-info__image">
      <img src="https://i.ibb.co/GvZGV1L/Rectangle-1354.jpg" loading="lazy" width="" height="" alt="">
    </div>
  </div>
</section>
