<section class="fat-tire-banner">
    <div class="container container--small">
        <div class="fat-tire-banner__content">
            <h2>Have you seen our
                Fat Tire Bikes?</h2>
            <a href="">CHECK OUT FAT TIRE BIKES
                {% render 'icon', icon: 'arrow-up-right' %}</a>
        </div>
        <div class="fat-tire-banner__image">
           <div class="media-wrapper">
               <img src="https://via.placeholder.com/1028x476.jpg" loading="lazy" width="" height=""/>
           </div>
        </div>
    </div>
</section>
