<section class="find-perfect" style="background: url('https://via.placeholder.com/1366x525') no-repeat; background-size:cover;background-position:center center;">
  <div class="container container--middle">
    <p>Not sure this one is right for You?</p>
    <h2>Let’s find you a perfect match. Or two.</h2>
   <div class="find-perfect__cta">
      <a href="" class="btn btn--blue-fill">Help Me Choose</a>
   </div>
  </div>
</section>
