<!-- <footer class="footer o-container --medium"></footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": []
}
{% endschema %} -->
<footer class="footer js-off-cta">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col">
        <div class="footer__col-item">
          <h6 class="h6">Shop</h6>
          <ul>
            <li><a href="#"> E-Bikes</a></li>
            <li><a href="#"> Gear</a></li>
            <li><a href="#"> Parts</a></li>
            <li><a href="#"> Scooters</a></li>
            <li><a href="#"> Where to Try</a></li>
            <li><a href="#"> Become a Dealer</a></li>
          </ul>
        </div>
        <div class="footer__col-item">
          <h6 class="h6">Learn</h6>
          <ul>
            <li><a href="#"> Knowledge Base</a></li>
            <li><a href="#"> Rider Stories</a></li>
            <li><a href="#"> Why Magnum</a></li>
            <li><a href="#"> News</a></li>
          </ul>
        </div>
        <div class="footer__col-item">
          <h6 class="h6">Help</h6>
          <ul>
            <li><a href="#"> Help center</a></li>
            <li><a href="#"> Shipping & Returns</a></li>
            <li><a href="#"> Financing</a></li>
            <li><a href="#"> Warranty registration</a></li>
          </ul>
        </div>

      </div>
      <div class="footer__col">
        <div class="footer__form-inner">
          <a href="#">
            {% render 'icon', icon: 'logo-white' %}
          </a>
          <p>Receive exclusive updates, offers, tips & guides from Magnum HQ.</p>
          <div class="footer__form">
            <div class="input-field">
              <input type="email" class="footer__form-input" name="email" placeholder="Your email">
            </div>
            <button class="btn btn--blue-fill">subscrube</button>
          </div>
        </div>
      </div>

    </div>
    <div class="footer__bottom">
      <p>Join an active community
        of 10.000+ Magnum Riders. </p>
      <ul class="footer__social">
        <li><a href="#"> {% render 'icon', icon: 'fb' %} </a></li>
        <li><a href="#">{% render 'icon', icon: 'twitter' %} </a></li>
        <li><a href="#">{% render 'icon', icon: 'linkedin' %} </a></li>
        <li><a href="#">{% render 'icon', icon: 'youtube' %} </a></li>
        <li><a href="#">{% render 'icon', icon: 'instagram' %} </a></li>
      </ul>
    </div>
  </div>
</footer>
