<!-- <div class="gallery">
  <div class="gallery__title">
    <h2 class="h4">see it in the wild </h2>
  </div>
  <div class="swiper-container gallery__inner  js-gallery-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery__item">
        <img src="../assets/gallery-img1.jpg" loading="lazy" width="" height="" alt="">
      </div>
      <div class="swiper-slide gallery__item">
        <img src="../assets/gallery-img1.jpg" loading="lazy" width="" height="" alt="">
      </div>
      <div class="swiper-slide gallery__item">
        <img src="../assets/gallery-img1.jpg" loading="lazy" width="" height="" alt="">
      </div>
      <div class="swiper-slide gallery__item">
        <img src="../assets/gallery-img1.jpg" loading="lazy" width="" height="" alt="">
      </div>
    </div>
    <div class="gallery__arrows u-d-flex">
      <div class="js-arrow-prev-gallery btn__nav btn__nav--prev">{% render 'icon', icon: 'arrow-left' %} </div>
      <div class="js-arrow-right-gallery btn__nav btn__nav--next">{% render 'icon', icon: 'arrow-right' %} </div>
    </div>
  </div>
</div> -->
