<section class="journey-covered">
  <div class="contianer container--small">
    <div class="journey-covered__title">
      <h2 class="h2">We’ve got your entire
        journey covered. </h2>
    </div>
    <div class="journey-covered__inner">
      <div class="journey-covered__item">
        <div class="journey-covered__item-content">
          <div class="media-wrapper">
            <img src="https://via.placeholder.com/498x333" loading="lazy" width="" height="" alt="">
          </div>
          <div class="journey-covered__text">
            <p>Learn everthing you need to know about e-bikes</p>
            <a href="#" href="#">Go to learning hub{% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
      <div class="journey-covered__item">
        <div class="journey-covered__item-content">
          <div class="media-wrapper">
            <img src="https://via.placeholder.com/498x333" loading="lazy" width="" height="" alt="">
          </div>
          <div class="journey-covered__text">
            <p>Get Matched</p>
            <a href="#" href="#">TAKE QUIZ {% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
      <div class="journey-covered__item">
        <div class="journey-covered__item-content">
          <div class="media-wrapper">
            <img src="https://via.placeholder.com/498x333" loading="lazy" width="" height="" alt="">
          </div>
          <div class="journey-covered__text">
            <p>Feel the power of
              our rider community</p>
            <a href="#" href="#"> READ RIDER STORIES{% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
      <div class="journey-covered__item">
        <div class="journey-covered__item-content">
          <div class="media-wrapper">
            <img src="https://via.placeholder.com/498x333" loading="lazy" width="" height="" alt="">
          </div>
          <div class="journey-covered__text">
            <p>Extend your bike's lifetime with expert service and support</p>
            <a href="#" href="#"> GO TO SUPPORT HUB {% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
