<section class="knowledge">
  <div class="container container--small">
    <div class="knowledge__title">
      <h2 class="h2">Want to up your E-bike knowledge? </h2>
      <a href="#" class="btn btn--solid">Go To Magnum Academy </a>
    </div>
    <div class="knowledge__inner">
      <div class="knowledge__item">
        <div class="knowledge__item-content">
          <div class="media-wrapper">
            <img src="https://i.ibb.co/W0VCQDc/Rectangle-2381.jpg" loading="lazy" width="" height="" alt="">
          </div>
          <div class="knowledge__item-text">
            <p>Electric bikes that will blow your mind Magnum will definitely blow your mind</p>
            <a class="knowledge__cta" href="#">READ FULL ARTICLE {% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
      <div class="knowledge__item">
        <div class="knowledge__item-content">
          <div class="media-wrapper">
            <img src="https://i.ibb.co/W0VCQDc/Rectangle-2381.jpg" loading="lazy" width="" height="" alt="">
          </div>
          <div class="knowledge__item-text">
            <p>Electric bikes that will blow your mind Magnum will definitely blow your mind</p>
            <a class="knowledge__cta" href="#">READ FULL ARTICLE {% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
      <div class="knowledge__item">
        <div class="knowledge__item-content">
          <div class="media-wrapper">
            <img src="https://i.ibb.co/W0VCQDc/Rectangle-2381.jpg" loading="lazy" width="" height="" alt="">
          </div>
          <div class="knowledge__item-text">
            <p>Electric bikes that will blow your mind Magnum will definitely blow your mind</p>
            <a class="knowledge__cta" href="#">READ FULL ARTICLE {% render 'icon', icon: 'arrow-up-right' %} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
