<section class="premium-high" style="background: url('https://via.placeholder.com/1920x579') no-repeat; background-size:cover;background-position:center center;">
    <div class="container container--small">
        <div class="premium-high__inner">
            <div class="premium-high__col-left">
                {% render 'icon', icon: 'logo-white' %}
                <h2>Premium II High Step</h2>
                <p>New to Magnum’s 2021 lineup, the Scout is built for trail-riding and the weekend adventurer. Whether you’re camping, hunting, fishing, or going for a long ride on country backroads, the Scout will help anyone that wants to get on a dirt road, regardless of physical ability. </p>
            </div>
            <div class="premium-high__col-right">
                <h3>Highlights
                    {% render 'icon', icon: '4star' %}
                </h3>
                <ul>
                    <li>
                        Category
                        <span>
                            Trail Bike / Trail Bike / Trail Bike
                            {% render 'icon', icon: 'warning' %}
                        </span>
                    </li>
                    <li>
                        Category
                        <span>Class 3 with Throttle</span>
                    </li>
                    <li>
                        Frame Type
                        <span>
                            Step Through
                            {% render 'icon', icon: 'warning' %}
                        </span>
                    </li>
                    <li>
                        Seating
                        <span>
                            Upright
                            {% render 'icon', icon: 'warning' %}
                        </span>
                    </li>
                    <li>
                        Perfect For
                        <span>
                            Off-road
                            {% render 'icon', icon: 'warning' %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
