<section class="service">
    <div class="container">
        <div class="service__inner">
            <div class="service__col">
                <a href="">
                    {% render 'icon', icon: 'box' %}
                    <p>Ride Now, Pay Later</p>
                </a>
            </div>
             <div class="service__col">
                 <a href="">
                     {% render 'icon', icon: 'box' %}
                     <p>Expert Service & Support </p>
                 </a>
            </div>
             <div class="service__col">
                 <a href="">
                     {% render 'icon', icon: 'box' %}
                     <p>Easy Assembly by You or Us</p>
                 </a>
            </div>
        </div>
    </div>
</section>