<div class="still-have-questions">
  <div class="still-have-questions__title container container--small">
    <h1>Still have questions?</h1>
  </div>
  <div class="still-have-questions__image" style="background: url('https://via.placeholder.com/1920x579') no-repeat; background-size:cover;background-position:center center;">
  </div>
    <div class="still-have-questions__inner">
      <div class="still-have-questions__item">
         {% render 'icon', icon: 'phone' %}
         <h3>Call us</h3>
         <a href="tel:111 - 555 - 678">111 - 555 - 678</a>
      </div>
      <div class="still-have-questions__item">
         {% render 'icon', icon: 'chat' %}
         <h3>Chat With Us</h3>
         <a href="">Live Chat</a>
      </div>
      <div class="still-have-questions__item">
         {% render 'icon', icon: 'contact-form' %}
         <h3>Chat With Us</h3>
         <a href="">Contact Form</a>
      </div>
    </div>
</div>
