<div class="subfooter" style="background: url('https://via.placeholder.com/1366x447') no-repeat; background-size:cover;background-position:center center;">
  <div class="subfooter__inner">
    <a class="back-to-top" href="#">{% render 'icon', icon: 'arrow-up' %} </a>
        <ul class="subfooter__list">
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#">Terms of Service </a></li>
          <li><a href="#">Cookie Policy </a></li>
        </ul>
        <p class="subfooter__text">© Magnum Electric Bikes 2021. All Rights Reserved.</p>
      </div>
    </div>
</div>

