<section class="support-hero">
    <div class="container container--small">
        <div class="support-hero__inner">
            <div class="support-hero__content">
                <h1>How Can We Help?</h1>
                <p>Use the super powerful search bar you see below.</p>
                <div class="search">
                    <form action="" method="get" role="search">
                        <input name="options[prefix]" type="hidden" value="last">
                        <input name="type" type="hidden" value="product"/>
                        <input autocomplete="off" class="search__input-field-bottom" id="searchField" name="q" placeholder=" " type="text" value="">
                        <button class="search__btn btn btn--blue-fill" type="">Search</button>
                        <label for="searchField">
                            {% render 'icon', icon: 'search' %}
                           Type to search....
                        </label>
                    </form>
                    <ul class="search__list">
                      <li>
                        <a href="">
                          <h4>Magnum Bike Voyager</h4>
                          <span>Magnum Support > Categories > Touring > Models</span>
                        </a>
                      </li>
                        <li>
                        <a href="">
                          <h4>Magnum Bike Voyager</h4>
                          <span>Magnum Support > Categories > Touring > Models</span>
                        </a>
                      </li>
                        <li>
                        <a href="">
                          <h4>Magnum Bike Voyager</h4>
                          <span>Magnum Support > Categories > Touring > Models</span>
                        </a>
                      </li>
                        <li>
                        <a href="">
                          <h4>Magnum Bike Voyager</h4>
                          <span>Magnum Support > Categories > Touring > Models</span>
                        </a>
                      </li>
                        <li>
                        <a href="">
                          <h4>Magnum Bike Voyager</h4>
                          <span>Magnum Support > Categories > Touring > Models</span>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="support-hero__image">
                <div class="media-wrapper">
                    <img height="" loading="lazy" src="https://via.placeholder.com/498x420.jpg?text=IMAGE" width=""/>
                </div>
            </div>
        </div>
    </div>
</section>
