<div class="support-grid">
    <div class="container container--small">
        <div class="support-grid__inner">
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'warranty' %}
                    <h3>Warranty</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'troubleshoot' %}
                    <h3>Troubleshoot</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'shipping' %}
                    <h3>Shipping & Returns
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'manuals' %}
                    <h3>Manuals</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'faq' %}
                    <h3>FAQ</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'help-me-choose' %}
                    <h3>Help Me Choose</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'financing' %}
                    <h3>Financing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
            <div class="support-grid__item">
                <a href="">
                    {% render 'icon', icon: 'store-locator' %}
                    <h3>Store Locator</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
            </div>
        </div>
    </div>
</div>
