<section class="top-quality">
  <div class="container container--small">
     <div class="top-quality__inner">
         <div class="top-quality__col">
           <h2>Top quality, yet affordable.</h2>
           <p>Designed and engineered for quality and reliability, your Magnum is built to last thousands of miles and beyond—without breaking the bank.</p>
         </div>
         <div class="top-quality__col">
              <ul class="top-quality__list">
                    <li>
                      {% render 'icon', icon: 'box' %}
                      <h3>Ride Now, Pay Later</h3>
                      <p>We offer payment in monthly installments. Get and enjoy your ride now and pay later.</p>
                    </li>
                       <li>
                      {% render 'icon', icon: 'box' %}
                      <h3>Expert Service & Support </h3>
                      <p>We include an easy to use toolkit and an assembly manual to make the remaining 15% easy.</p>
                    </li>
                       <li>
                      {% render 'icon', icon: 'box' %}
                      <h3>Easy Assembly by You or Us</h3>
                      <p>We include an easy to use toolkit and an assembly manual to make the remaining 15% easy.</p>
                    </li>
              </ul>
         </div>
     </div>
  </div>
</section>
