<div class="videos-tab">
  <div class="container">
    <div class="videos-tab__title">
      <h2 class="h2">Magnum Premium II High Step Videos </h2>
    </div>
    <div class="videos-tab__inner">
        {% render 'tabs' %}
      </div>
  </div>
</div>
