.service {
  padding: rem(60) 0;
  background-color: $off-white;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__col {
    text-align: center;
    max-width: rem(350);
    width: 100%;

    .icon--box {
      margin-bottom: rem(20);
    }
    a {
      display: inline-block;
    }

    p {
      text-align: center;
      font-size: rem(17);
      line-height: line-height(17, 26);
      font-weight: 700;
      color: $magnum-black;
    }
  }
}
