.e-bikes-info {
  &__inner {
    display: flex;
  }

  &__image,
  &__text {
    width: 50%;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-light-7;
  }

  &__text-content {
    max-width: rem(374);
    width: 100%;
    .h2 {
      font-size: rem(40);
      line-height: rem(54);
      padding-bottom: rem(13);
      color: $machine-grey;
    }
    p {
      font-size: rem(15);
      line-height: rem(25);
      padding-bottom: rem(60);
      color: $grey-light;
    }
  }
}
