.pl-hero {
  min-height: rem(320);
  display: flex;
  align-items: center;

  &__title {
    .h1 {
      font-size: rem(56);
      line-height: rem(64);
      padding-bottom: rem(8);
    }

    p {
      font-size: rem(17);
      line-height: rem(27);
      color: $grey-light;
    }
  }
}
